<!-- A list to display current order. -->
{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Run for It</title>
    <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
  </head>
  <body id="dayBody">
    {% include "run/navbar.html" %}
      <div class='days'>
      <h1 class="dayHeader">Day</h1>
      <h3>Distance Run</h3>
      <p>{{day.distance}}</p>
      {% if user_day%}
        {% if user.id == user_day.user.id %}
          <h3 class="stayGold">Time</h3>
          <p>{{user_day.time}}</p>
          <h3 class="stayGold">Notes</h3>
          <p>{{user_day.thoughts}}</p>
        {% endif %}
        {% else %}
        <h2>Have you run today?</h2>
        <!-- <h3>Time</h3>
        <p>{{user_day.time}}</p>
        <h3>Thoughts</h3>
        <p>{{user_day.thoughts}}</p> -->
        <div>
            <form id="DayForm" action="{% url 'website:day_view' pk=day.id%}" method="POST" enctype="multipart/form-data">
              {% csrf_token %}
              {{Day_Form.as_p}}
              <input type="submit" value="Submit"/>
            </form>
          </div>
      {% endif %}
</div>

    </body>
    </html>

